# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
swadiq-schools

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
tmp/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

